<p id="notice"><%= notice %></p>

<p>
  <strong>Number of workers:</strong>
  <%= @team_leader.number_of_workers %>
</p>

<%= link_to 'Edit', edit_team_leader_path(@team_leader),:remote=>true %> |
<%= link_to 'Back', team_leaders_path,:remote=>true %>
