@mixin gradient-background($from, $to) {
    background-color: $from;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, $from, $to);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, $from, $to);
    /* IE 10 */
    background: -ms-linear-gradient(top, $from, $to);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, $from, $to);
}

$width:     990px;
$sidebar:   320px;
$tdheight:  32px;
$completionSquare: 10px;
$highlight: #00647e;
/*$light:     #e5e9ea; */
$light:     #e7e9e9;
$gradient:  #bababa;
$dark:      #343434;
$grey:      #6e6e6e;
$blue:      #4ca6be;
$green:     #00647e;
$orange:    #c3613f;
$red:       #992828;

table {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border: none;
}

table.layout {
    width: 100%;

    tbody {
        tr {
            td {
                vertical-align: top;

                &.sidebar {
                    width: $sidebar;
                    background-color: $light;
                    border-right:solid 1px $highlight;
                    border-left:solid 1px $highlight;
                    
                    ul {
                        height:100%;
                        padding: 0;
                        margin: 0 0 20px 0;
                        list-style: none;

                        li {

                            h1 {
                                text-align: center;
                                font-size: 13px;
                                line-height: 25px;
                                padding: 0;
                                margin: 0;
                                height: 25px;
                                @include gradient-background(#5dbedb, #2b7e94);
                                color: #fff;
                                text-shadow: none;
                            }

                            a {
                                padding: 8px 12px;
                                display: block;
                                color: $dark;
                                border-bottom: 1px solid #d4d8d9;

                                &.selected {
                                    border-left: 4px solid $dark;
                                }

                                &:hover {
                                    text-decoration: underline;
                                }
                                
                            }
                            
                        }
                    
                    }
                }
            }
        }
    }
}

table.styled {
    position: relative;
    width: 100%;

    thead, tbody {
        tr.separator {
            th, td {
                background-color: $dark !important;
                color: #ffffff;
                text-align: center;
                line-height: 14px;
                height: 14px;
                font-weight: normal;
                border-style: dotted;
            }
        }
    }

    thead {
        tr {
            th, td {
                border-width: 1px;
                border-style: solid;
                border-top-color: #ffffff;
                border-left-color: #c1c1c1;
                border-right-color: #c1c1c1;
                border-bottom-color: #c1c1c1;
                padding: 4px 8px;
                text-align: center;

                &.deletable {
                    width: 16px;
                }
            }

            th.date {
                width: 80px;
            }

            th.icon {
                width: 16px;
            }

            th.handle {
                width: 11px;
            }

            th a.ordered {
                color: inherit;

                span.order-icon {
                    float: right;
                    display: block;
                    right: 0;
                    width: 16px;
                    height: 16px;
                    background-image: url(jquery-ui-custom-theme/images/ui-icons_222222_256x240.png);
                    background-repeat: no-repeat;
                    background-position: -128px -16px;

                    &.asc {
                        background-position-x: 0px;
                    }

                    &.desc {
                        background-position-x: -64px;
                    }
                }
            }

            td {
                font-weight: normal;
            }
        }

        tr:not(.separator) {
            th, td {
                @include gradient-background(#eeeeee, #dfe1e2);
                color: $grey;
                text-shadow: 0 1px 0 #fff;
            }
        }
    }

    tbody {
        tr {
            td, th {
                text-align: left;
                color: $grey;
                border-width: 1px;
                border-style: solid;
                border-color: #dadada;
                line-height: $tdheight;
                padding: 4px 8px;

                img {
                    vertical-align: middle;
                }

                &.handle {

                }
                
                a.inline-icon {
                    min-height: $tdheight;
                    line-height: $tdheight;
                  #border: solid red 1px;
                }
            }

            td.handle {
                width: 11px;
                background-image: url(/assets/handle.gif);
                background-repeat: no-repeat;
                background-position: 8px 12px;
            }
        }

        tr:nth-child(odd) {
            th {
                background-color: #eceeef;
            }

            td {
                background-color: #f5f5f5;
            }
        }

        tr:nth-child(even) {
            th {
                background-color: #f0f3f3;
            }

            td {
                background-color: #ffffff;
            }
        }

        tr.selected, tr:hover {
            td, th {
                color: #ffffff;
                background-color: $blue;

                a {
                    color: #ffffff;
                }

                .chzn-container {
                    a {
                        color: $dark;
                    }

                    color: $dark;
                }
            }
        }
    }
}

table.submenu {

    width: 100%;

    tbody {
        tr {
            td {
                padding: 8px 12px;
            }

            td.parent {
                width: 16px;
            }

            td.header {
                h1 {
                    padding: 0;
                    margin: 0;
                    font-size: 16px;

                    &, & a {
                        color: $grey;
                    }
                }
            }
        }
    }
}